* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero--section {
  width: 100%;
  height: 90vh;
  background: rgba(0, 0, 0, 0.5) url(../public/images01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
}

.nav {
  width: 100%;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px rgb(77, 62, 62);
}

.hero--body {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero--head {
  font-size: 2.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.hero-name {
  font-size: 3rem;
  color: rgb(241, 124, 40);
}
.hero--txt {
  padding: 0px 5px 0px 5px;
  margin-top: 0.5rem;
  font-size: 17.5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cta {
  margin-top: 3rem;
}
.cta--btn{
    width: 8rem;
    height: 2.3rem;
    border-radius: 10px;
    background-color: rgba(82, 85, 75, 0.85);
    box-shadow: 0px 0px 7px rgb(129, 129, 129);
    color: white;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.order{
    margin-right: 1rem;
}


/* -----------------ABOUT COMPONENT---------- */


.about--section{
    margin-top: 3rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about--head{
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
}
.about--img--sec{
    padding: 0px 2rem 0px 2rem;
}
.about--img--div{
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 7px gray;
}
.about--img{
    width: 100%;
    height: 100%;
}

.about--txt--sec{
    margin-top: 1.5rem;
    padding: 0px 2rem 0px 2rem;
}
.about--txt--head{
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.about--txt--body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.3rem;
    margin-bottom: 2.5rem;
}


/* -----------------MENU COMPONENT-------------- */

.menu--section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.menu--head{
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.menu--body{
    display: flex;
    width: auto;
    height: auto;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 2rem;

    /* @media (min-width: 400px) {
        grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;

        .menu--img--div{
            width: 250px;
            height: 200px;
            overflow: hidden;
        }
    }
    @media (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
        width: 700px;
    } */

}
.menu--card{
display: flex;
flex-direction: column;
align-items: center;
border-radius: 5px;
justify-content: center;

}
.menu--img--div{
    width: 250px;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 3px gray;
}
.menu--foodImg{
    width: 100%;
    height: 100%;
}
.menu--txt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.food--name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.food--txt{
    font-size: 12px;
}
.food--price{
    font-weight: bold;
}

/*---------------RESERVATION PAGE--------------*/
.reservation--section{
    width: 100%;
    /* height: 70vh; */
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.reservation--form{
    width: 100%;
    
    background: rgba(199, 198, 198, 0.3) url(../public/burgerBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0px;
}
.form--row{
    width: 20rem;
    display: flex;
    justify-content: space-between;
     margin-top: 0.6rem;
}
.single{
    justify-content: flex-start;
    flex-direction: column;
}
textarea{
    resize: none;
}
.time--input{
    width: 100px;
    padding-left: 5px;
}
select{
    appearance: none;
}
select, textarea, input{
    /* border-radius: 3px; */
    border: none;
    padding: 5px;
}
select, input{
    height: 1.8rem;
}
input{
    width: 150px;
}
.submit{
    color: white;
    background-color: orangered;
    border: none;
    height: 2rem;
}